.container-form {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg, #e9defa 0%, #f3e2e4 100%);
  }
.box-form {
    height: 90vh;
    width: 90%;
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-content: center;
    margin-left: 5%;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: 10px 15px rgba(245, 245, 245, 0.445);
}
.content-form {
    display: flex;
    width: 100%;
    height: 95%;
    justify-content: space-evenly;
    background-image: linear-gradient(0deg, #e9defa 0%, whitesmoke 100%);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    flex-direction: column;
    align-items: center;
  }

.form {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 50vh;
    border-style: solid;
    border-color: whitesmoke;
    background: #eae0f3;
    border-radius: 3%;
    /* margin-top: 10vh; */
}

.text-field {
    display: flex;
    width: 80%;
}

.link {
    font-weight: bold;
    color: #fb8d98;
}

.link:link {
    text-decoration: none;
    color: #fb8d98;
    font-size: 1rem;
}

.link:visited {
    text-decoration: none;
    color: #fb8d98;
    border-top: #fb8d98;
    border-top-style: solid;
}

.link:hover {
    text-decoration: none;
    color: #fb8d98;
}

.link:active {
    text-decoration: none;
    color: #fb8d98;
    border-top: #fb8d98;
    border-top-style: solid;
}