.container-main {
    height: 100vh;
    width: 100wh;
    background-image: linear-gradient(0deg, #e9defa 0%, #f3e2e4 100%);
}

.box-main {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-content: center;
    margin-left: 5%;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 10px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: 10px 15px rgba(245, 245, 245, 0.445);
}

.content-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: left;
    background-image: linear-gradient(0deg, #e9defa 0%, whitesmoke 100%);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.link-login {
    vertical-align: middle;
    font-weight: bold;
    font-size: xx-large;
}

.link-login:link {
    text-decoration: none;
    color: #fb8d98;
}

.link-login:visited {
    text-decoration: none;
    color: #fb8d98;
    /* border-top: #fb8d98; */
    /* border-top-style: solid; */
}

.link-login:hover {
    text-decoration: none;
    color: #fb8d98;
}

.link-login:active {
    text-decoration: none;
    color: #fb8d98;
    /* border-top: #fb8d98; */
    /* border-top-style: solid; */
}
.icon:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}