
.menu-logged {
  display: flex;
  width: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  justify-content: space-evenly;
  float: left;
  background: #ffffff;
  height: 6vh;

}

.link {
  margin-top: 0.75%;
  color: #fb8d98;
  font-weight: bold;
}

.link:link {
  text-decoration: none;
  color: #fb8d98;
  font-size: 1rem;
}

.link:visited {
  text-decoration: none;
  color: #fb8d98;
  border-top: #f3e2e4;
  border-top-style: solid;
}

.link:hover {
  text-decoration: none;
  color: #fb8d98;
}

.link:active {
  text-decoration: none;
  color: #fb8d98;
  border-top: #f3e2e4;
  border-top-style: solid;
}

.current-link {
  border-top: #851e2a;
  border-top-style: solid;
  margin-top: 0.70%;
  color: #fb8d98;
  font-weight: bold;
}

.current-link:link {
  text-decoration: none;
  color: #fb8d98;
  font-size: 1rem;
}

.current-link:visited {
  text-decoration: none;
  color: #fb8d98;
  border-top: #f19ca6;
  border-top-style: solid;
}

.current-link:hover {
  text-decoration: none;
  color: #fb8d98;
}

.current-link:active {
  text-decoration: none;
  color: #fb8d98;
  border-top: #f19ca6;
  border-top-style: solid;
}